<header>
    <div class="navbar-brand brand-name">
        <a href="https://www.cghearth.com/">
            <img class="img-responsive img-responsive" src="https://www.cghearth.com/img/brand-logo.png" alt="CGH"
                width="238" height="112"></a>
    </div>
    <nav class="navigation font-menu text-uppercase" id="main-nav">
        <ul class="list-inline nav-secondary">
            <li><a href="http://www.cghearthayurveda.com/" target="_blank">CGH EARTH AYURVEDA</a></li>
            <li><a href="http://www.cghearth.com/swaswara" target="_blank">swaswara</a></li>
            <li><a href="http://www.prakritishakti.com" target="_blank">PRAKRITI SHAKTI</a></li>
            <li><a href="http://www.davidhall.in/" target="_blank">DAVID HALL</a></li>
            <li><a href="https://www.cghearth.com/Action-plan-COVID-19-pandemic/" target="_blank">COVID-19 Safety</a>
            </li>
        </ul>
        <ul class="list-inline nav-primary">
            <li><a href="#top">Destinations</a></li>
            <li><a href="https://www.cghearth.com/aboutus">about</a></li>
            <li><a href="https://www.cghearth.com/responsibletourism">responsible tourism</a></li>
            <li><a href="https://www.cghearth.com/packages">packages</a></li>
            <li><a href="https://www.cghearth.com/offers">offers</a></li>
            <li><a href="https://www.cghearth.com/careers">Careers</a></li>
            <li><a href="https://www.cghearth.com/contactus">Contact us</a></li>
        </ul>
    </nav>

    <div id="showmenu" class=""></div>
    <div class="right-col">
        <a href="https://www.cghearth.com/booknow" class="book-now" target="_blank">BOOK NOW</a>
        <ul class="social">
            <li><a href="https://twitter.com/cgh_earth" target="_blank">
                    <img src="https://www.cghearth.com/uploads/UploadImage/20170614072438AMtwitter_white.png"
                        alt="Twitter" class="img-responsive img-responsive" height="28" width="29"></a></li>
            <li><a href="https://www.pinterest.com/cghearth/" target="_blank"><img
                        src="https://www.cghearth.com/uploads/UploadImage/20170614072424AMpintrest_white.png"
                        alt="Pintrest" class="img-responsive img-responsive" height="28" width="29"></a></li>
            <li><a href="https://www.facebook.com/cghearth/" target="_blank"><img
                        src="https://www.cghearth.com/uploads/UploadImage/20170614072410AMfacebook_white.png"
                        alt="Facebook" class="img-responsive img-responsive" height="28" width="29"></a></li>
            <li><a href="https://www.instagram.com/cghearth/" target="_blank"><img
                        src="https://www.cghearth.com/uploads/UploadImage/20170614072347AMinstagram_white.png"
                        alt="Instagram" class="img-responsive img-responsive" height="28" width="29"></a></li>
        </ul>
    </div>
</header>


<nav class="navbar navbar-expand-lg navbar-light header">
    <div class="navbar-brand brand-name">
        <a href="https://www.cghearth.com/">
            <img class="img-responsive img-responsive" src="https://www.cghearth.com/img/brand-logo.png" alt="CGH"
                width="238" height="112"></a>
    </div>
    <div class="d-flex justify-content-end" style="padding: 0 15px;">
        <div class="right-col">
            <a href="https://www.cghearth.com/booknow" class="book-now" target="_blank">BOOK NOW</a>
            <!-- <ul class="social">
                <li><a href="https://twitter.com/cgh_earth" target="_blank">
                        <img src="https://www.cghearth.com/uploads/UploadImage/20170614072438AMtwitter_white.png"
                            alt="Twitter" class="img-responsive img-responsive" height="28" width="29"></a></li>
                <li><a href="https://www.pinterest.com/cghearth/" target="_blank"><img
                            src="https://www.cghearth.com/uploads/UploadImage/20170614072424AMpintrest_white.png"
                            alt="Pintrest" class="img-responsive img-responsive" height="28" width="29"></a></li>
                <li><a href="https://www.facebook.com/cghearth/" target="_blank"><img
                            src="https://www.cghearth.com/uploads/UploadImage/20170614072410AMfacebook_white.png"
                            alt="Facebook" class="img-responsive img-responsive" height="28" width="29"></a></li>
                <li><a href="https://www.instagram.com/cghearth/" target="_blank"><img
                            src="https://www.cghearth.com/uploads/UploadImage/20170614072347AMinstagram_white.png"
                            alt="Instagram" class="img-responsive img-responsive" height="28" width="29"></a></li>
            </ul> -->
        </div>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          
                <i class="bi bi-justify navbar-toggler-icon_1"></i>

                <!-- <span class="navbar-toggler-icon"></span> -->
                <div class="close-icon py-1"><i class="bi bi-x" style="font-size: 2rem;"></i></div>
        </button>
    </div>

    <!-- navigation -->
    <div class=" collapse navbar-collapse navigation_SM  font-menu text-uppercase" id="navbarNavDropdown">

        <ul class="list-inline nav-primary navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#top">Destinations</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.cghearth.com/aboutus">about</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.cghearth.com/responsibletourism">responsible
                    tourism</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.cghearth.com/packages">packages</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.cghearth.com/offers">offers</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.cghearth.com/careers">Careers</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.cghearth.com/contactus">Contact us</a></li>
        </ul>
        <ul class=" navbar-nav list-inline nav-secondary">
            <li class="nav-item"><a class="nav-link" href="http://www.cghearthayurveda.com/" target="_blank">CGH EARTH
                    AYURVEDA</a></li>
            <li class="nav-item"><a class="nav-link" href="http://www.cghearth.com/swaswara"
                    target="_blank">swaswara</a></li>
            <li class="nav-item"><a class="nav-link" href="http://www.prakritishakti.com" target="_blank">PRAKRITI
                    SHAKTI</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="http://www.davidhall.in/" target="_blank">DAVID HALL</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.cghearth.com/Action-plan-COVID-19-pandemic/"
                    target="_blank">COVID-19 Safety</a>
            </li>
        </ul>
    </div>

    <!-- <div id="showmenu" class=""></div> -->



</nav>