<div class="wrapper" *ngIf="recommendations.length > 0">
    <div class="close-icon" (click)="closeDialog()">
        <i class="bi bi-x"></i>
    </div>
    <p class="title">Our Recommendations</p>
    <div class="image-block-wrapper">
        <div class="image-block" *ngFor="let hotel of recommendations"
            (click)="viewRecommendationsForSpecific(hotel.hotel_id)">
            <img [src]="getImage(hotel)" alt="{{hotel.hotel_name}}">
            <div class="image-overlay">
                <p class="promotions-tagline"> STAY AT {{hotel.hotel_name}} </p>
            </div>
        </div>
    </div>
    <button class="btn-main mt-3" (click)="viewRecommendations()">View All</button>
</div>

<div class="wrapper" *ngIf="recommendations.length === 0">
    <div class="close-icon" (click)="closeDialog()">
        <i class="bi bi-x"></i>
    </div>
    <p class="title">No Recommendations Available</p>
</div>