<div class="wrapper"*ngIf="ids.includes(data.HotelId)">
    <div class="close-icon" (click)="closeDialog()">
        <i class="bi bi-x"></i>
    </div>
    <p class="title">Our Recommendations</p>
    <div class="image-block-wrapper" *ngFor="let item of staticresult.Recommendation_List;let id=index">
       <div *ngIf="data.HotelId == item.id">
        <div class="image-block"  *ngFor="let items of item.Recommendations;let id=index">
            <img src="../../../../assets/images/no-image-found.png'"
    
            alt="" *ngIf="!images(items);">
            <div id="carouselExampleControls" class="carousel slide" [id]="'slider'+ id" data-ride="carousel" >
                <div class="carousel-inner">
                
                        
                    <ng-container  *ngFor="let item of images(items);let i=index">
                       
                        <div class="carousel-item" *ngIf="i>=1" [ngClass]="i == 1 ? 'active' : ''" [id]="'slide'+ i">
                            <img class="d-block w-100" [src]="item">
                        </div>
                    </ng-container>

     
                </div>

                

            <div class="image-overlay" >
                <p class="promotions-tagline" (click)="viewRecommendationsForSpecific1(items)"> STAY AT
                    {{items}} 
                </p>
            </div>
         </div>
        </div>
        
       </div>
    <button class="btn-main mt-3" *ngIf="data.HotelId == item.id" (click)="viewRecommendations()">View</button>
</div>