.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
  font-family: "Adobe Caslon Pro";
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.image-block-wrapper {
  width: 100%;
}

.image-block {
  position: relative;
  margin: 5px 0;
}

.image-block img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.image-block-wrapper hr {
  margin: 10px 0 5px 0;
  height: 0px;
  border: none;
  border-bottom: 1.5px solid #333;
  opacity: 1;
}

.image-block {
cursor: pointer;
}

.image-block .promotions-tagline {
margin-bottom: 0;
text-transform: uppercase;
}

.image-block:hover .promotions-tagline {
text-decoration: underline;
transition: All .5s ease;
-webkit-transition: All .5s ease;
-moz-transition: All .5s ease;
-ms-transition: All .5s ease;
-o-transition: All .5s ease;
}

.btn-main {
display: inline-block;
font-family: ACaslonPro-Bold;
color: #fff;
background-color: #000;
text-decoration: none;
border: 2px solid #000;
text-transform: uppercase;
padding: 12px 24px 8px;
font-size: 12px;
line-height: 15px;
}

.btn-main:hover {
color: #000;
text-decoration: none;
background: #fff;
}

.close-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #111;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding-top: 1px;
  cursor: pointer;
}