<div class="container-fluid" style="position: relative;">
    <div class="row">
        <div class="col-12">
            <section class="banner-section img-fluid overlay">

                <div class="search-bar" [formGroup]="searchForm" autocomplete="off">
                    <div class="hotel-field" (click)="focusDestinationFieldInput('hotel')">
                        <p class="field-heading" style="margin-bottom: 5px;">

                            <span (click)="changeSearchType('hotel')" style="font-weight: 500">Hotel/City</span>

                            <i style="margin-left: 1px;" (click)="changeSearchType('hotel')"></i>

                        </p>

                        <ng-container>
                            <input type="search" autocomplete="off" class="field-content cstm" id="hotel-field-input"
                                placeholder="Search By Hotel/City" aria-label="Number" matInput formControlName="hotel"
                                (keydown)="onHotelFieldEvent('keydown', $event)" (focus)="onHotelFieldEvent('focus')">

                            <mat-card class="dropdown-card p-0" style="  scroll-behavior: smooth;
                            max-height: 255px;">
                                <div class="option-block" *ngFor="let option of filteredHotelsList | async">
                                    <i class="bi bi-building"></i>
                                    <div class="option-text-block" (click)="selectHotel(option.hotel_name)">
                                        <p class="option-title-text">{{option.hotel_name}}</p>
                                        <p class="option-sub-text">
                                            <span style="font-weight: 600; color: #666">Resorts . </span>
                                            {{option.address.city ? option.address.city + ', ' : ''}}
                                            {{option.address.state ? option.address.state + ', ' : ''}}
                                            {{option.address.country ? option.address.country : ''}}
                                        </p>
                                    </div>

                                </div>
                                <div class="option-block" *ngFor="let option of filteredLocationList | async"
                                    (click)="selectLocation(option)">
                                    <i class="bi bi-geo-alt"></i>
                                    <div class="option-text-block">
                                        <p class="option-title-text">{{option.key}}</p>
                                        <p class="option-sub-text">
                                            <span
                                                style="text-transform: capitalize; font-weight: 600; color: #666;">{{option.type}}
                                                . </span>
                                            {{option.city && option.key != option.city ? option.city + ', ' : ''}}
                                            {{option.state && option.key != option.state ? option.state + ', ' : ''}}
                                            {{option.country ? option.country : ''}}
                                        </p>
                                    </div>
                                </div>
                            </mat-card>

                        </ng-container>


                        <p class="hotel-field-warning"
                            *ngIf="showFieldWarnings === dropdownType.hotel || showFieldWarnings === dropdownType.location">
                            To
                            start, tell us where you're going</p>

                        <i class="bi bi-building icon-style"></i>
                    </div>
                    <!-- <div class="hotel-field" (click)="focusDestinationFieldInput('location')">
                        <p class="field-heading" style="margin-bottom: 5px;">


                            <i style="margin-left: -6px;" (click)="changeSearchType('location')"></i>
                            <span (click)="changeSearchType('location')" style="font-weight: 500">Location</span>
                        </p>
                        <ng-container>
                            <input type="search" autocomplete="off" class="field-content cstm" id="location-field-input"
                                placeholder="Search By City" aria-label="Number" matInput formControlName="location"
                                (keydown)="onLocationFieldEvent('keydown', $event)"
                                (focus)="onLocationFieldEvent('focus')">

                            <mat-card class="dropdown-card p-0" style="  scroll-behavior: smooth;
                        max-height: 255px;" *ngIf="showDropdown === dropdownType.location">
                                <div class="option-block" *ngFor="let option of filteredLocationList | async"
                                    (click)="selectLocation(option)">
                                    <i class="bi bi-geo-alt"></i>
                                    <div class="option-text-block">
                                        <p class="option-title-text">{{option.key}}</p>
                                        <p class="option-sub-text">
                                            <span
                                                style="text-transform: capitalize; font-weight: 600; color: #666;">{{option.type}}
                                                . </span>
                                            {{option.city && option.key != option.city ? option.city + ', ' : ''}}
                                            {{option.state && option.key != option.state ? option.state + ', ' : ''}}
                                            {{option.country ? option.country : ''}}
                                        </p>
                                    </div>
                                </div>
                            </mat-card>
                        </ng-container>

                        <i class="bi bi-map icon-style"></i>

                    </div> -->

                    <div class="checkin-field">
                        <div (click)="toggleDropdown(dropdownType.checkin)">
                            <p class="field-heading">Check in</p>
                            <input class="field-content date-plchldr" formControlName="checkIn"
                                placeholder="-- / -- / ----" readonly>
                            <i class="bi bi-calendar4-week icon-style"></i>

                        </div>
                        <mat-card class="dropdown-card date-card pt-0" *ngIf="showDropdown === dropdownType.checkin">
                            <ng-container *ngTemplateOutlet="matCalendar"></ng-container>
                        </mat-card>
                        <p class="hotel-field-warning" *ngIf="searchForm.controls.checkIn.invalid && 
                            (searchForm.controls.checkIn.dirty || searchForm.controls.checkIn.touched)
                            && showFieldWarnings === dropdownType.checkin">Please add checkin</p>
                    </div>

                    <div class="checkout-field">
                        <div (click)="toggleDropdown(dropdownType.checkout)">
                            <p class="field-heading">Check out</p>
                            <input class="field-content date-plchldr" formControlName="checkOut"
                                placeholder="-- / -- / ----" readonly>
                            <i class="bi bi-calendar4-week icon-style"></i>

                        </div>
                        <mat-card class="dropdown-card date-card right-card pt-0"
                            *ngIf="showDropdown === dropdownType.checkout">
                            <ng-container *ngTemplateOutlet="matCalendar"></ng-container>
                        </mat-card>
                        <p class="hotel-field-warning" *ngIf="searchForm.controls.checkOut.invalid && 
                            (searchForm.controls.checkOut.dirty || searchForm.controls.checkOut.touched)
                            && showFieldWarnings === dropdownType.checkout">Please add checkout</p>
                    </div>
                    <div class="pax-field">
                        <div (click)="toggleDropdown(dropdownType.rooms)" style="height: 36px;">
                            <p class="field-heading">Room</p>
                            <p class="field-content" style="margin-top: 1px;" [ngClass]="{'not-selected': searchForm?.controls?.rooms?.value 
                                     === 0 }">
                                {{(searchForm?.controls?.rooms?.value > 0)
                                ? searchForm?.controls?.rooms?.value + ' Room'
                                + (searchForm?.controls?.rooms?.value > 1 ? 's' : '')
                                : 'Add Rooms' }}
                            </p>
                            <i class="bi bi-people  icon-style"></i>
                        </div>
                        <mat-card class="dropdown-card"
                            style="padding: 25px; height: fit-content; min-height: unset; z-index: 1;"
                            *ngIf="showDropdown === dropdownType.rooms">
                            <!-- ========================================================================= -->

                            <div class="content-row mt-0"
                                style="border-bottom: none !important;padding-bottom: 0 !important;">
                                <div class="text-box">
                                    <p class="field-heading"> {{(searchForm?.controls?.rooms?.value > 0)
                                        ? searchForm?.controls?.rooms?.value + ' Room'
                                        + (searchForm?.controls?.rooms?.value > 1 ? 's' : '')
                                        : 'Add Rooms' }}</p>
                                </div>
                                <div class="control-box">
                                    <i class="bi bi-dash" (click)="updateroomCount('decrement')"></i>
                                    <span>{{searchForm.controls.rooms.value}}</span>
                                    <i class="bi bi-plus" (click)="updateroomCount('increment')"></i>


                                </div>
                                <ng-container *ngFor="let room of [].constructor(searchForm?.controls?.rooms?.value); let i = index">
                                    <div class="row w-100">
                                        <div class="col">
                                            <p
                                                style="font-size: 16px;font-weight: 600;margin-bottom: 10px;text-align: left;margin-top: 20px;">
                                                Room #{{i+1}}</p>
                                        </div>
                                    </div>
                                    <div class="w-100 d-flex mb-2">

                                        <div class="text-box">
                                            <label class="field-heading">Adult(s)</label>
                                        </div>
                                        <div class="control-box">
                                            <i class="bi bi-dash" (click)="updateAdultCount('decrement',i)"></i>
                                            <span>{{searchForm.controls.paxData.value[i]?.noOfAdults}}</span>
                                            <i class="bi bi-plus" (click)="updateAdultCount('increment',i)"></i>


                                        </div>
                                    </div>
                                    <div class="w-100 d-flex mb-2">
                                        <div class="text-box">
                                            <label class="field-heading">Children</label>
                                        </div>
                                        <div class="control-box">
                                            <i class="bi bi-dash" (click)="updateChildCount('decrement',i)"></i>
                                            <span>{{searchForm.controls.paxData.value[i]?.noOfChildren}}</span>
                                            <i class="bi bi-plus" (click)="updateChildCount('increment',i)"></i>


                                        </div>
                                    </div>
                                    <div class="row w-100" style="margin-top: 12  px;" *ngIf="searchForm.controls.paxData.value[i]?.noOfChildren>0">
                                        <div class="col-auto">
                                            <p style="font-size: 16px;font-weight: 400;">Provide Children's age</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 mx-1"
                                            *ngFor="let age of [].constructor(searchForm.controls.paxData.value[i]?.noOfChildren); let childIndex = index;" (change)="addAges($event, i, childIndex)"
                                            style="margin-bottom: 10px;">
                                            <select class="input childAges" >
                                                
                                                <option *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]" value="{{item}}" >
                                                    {{item}}</option>
                                            </select>
                                        </div>
                                    </div>

                                   
                                </ng-container>
                            </div>

                            <!-- ====================================================================== -->
                        </mat-card>
                    </div>

                    <!-- <div class="pax-field" style="display: none;">
                        <div (click)="toggleDropdown(dropdownType.guest)" style="height: 36px;">
                            <p class="field-heading">Guests</p>
                            <p class="field-content" style="margin-top: 1px;" [ngClass]="{'not-selected': searchForm?.controls?.noOfAdults?.value 
                                    + agesOfChildren?.controls?.length === 0 }">
                                {{(searchForm?.controls?.noOfAdults?.value + agesOfChildren?.controls?.length > 0)
                                ? searchForm?.controls?.noOfAdults?.value + agesOfChildren?.controls?.length + ' Guest'
                                + (searchForm?.controls?.noOfAdults?.value + agesOfChildren?.controls?.length > 1 ? 's'
                                : '')
                                : 'Add Guests' }}
                            </p>
                            <i class="bi bi-people  icon-style"></i>
                        </div>
                        <mat-card class="dropdown-card"
                            style="padding: 25px; height: fit-content; min-height: unset; z-index: 1;"
                            *ngIf="showDropdown === dropdownType.guest">
                            <ng-container
                                *ngFor="let item of [].constructor( this.searchForm.controls.rooms.value);let i=index;">
                                <div class='card' style="    padding: 13px;
                                margin-bottom: 12px;">
                                    <label for=""> Room {{i+1}} : </label>
                                    <div class="content-row mt-0">
                                        <div class="text-box">
                                            <p class="field-heading">Adult</p>
                                        </div>
                                        <div class="control-box">
                                            <i class="bi bi-dash" (click)="updateAdultCount('decrement',i)"></i>
                                            <span>{{searchForm.controls.noOfAdults.value}}</span>
                                            <i class="bi bi-plus" (click)="updateAdultCount('increment',i)"></i>
                                        </div>
                                    </div>
                                    <div class="content-row"
                                        [ngClass]="{'content-row-alt': agesOfChildren?.controls?.length === 0}">
                                        <div class="text-box">
                                            <p class="field-heading">Children</p>
                                            <p class="field-content"></p>
                                        </div>
                                        <div class="control-box">
                                            <i class="bi bi-dash" (click)="updateChildCount('decrement',1)"></i>
                                            <span>{{agesOfChildren?.controls?.length}}</span>
                                            <i class="bi bi-plus" (click)="updateChildCount('increment',1)"></i>
                                        </div>
                                    </div>

                                    <ng-container formArrayName="agesOfChildren"
                                        *ngIf="agesOfChildren?.controls?.length ?? 0 > 0">
                                        <p class="ages-input-heading">Children's age <span>(Required)</span></p>
                                        <div class="ages-row">
                                            <ng-container [formGroupName]="idx"
                                                *ngFor="let control of agesOfChildren?.controls; let idx=index; let last=last">
                                                <div class="age-input"
                                                    [ngClass]="{'error-border': control.invalid && (control.dirty || control.touched)}">
                                                    <select formControlName="age">
                                                        <option *ngFor="let age of agesArray" [value]="age">{{age}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>

                            </ng-container>




                        </mat-card>
                    </div> -->

                    <i class="bi bi-search" (click)="onSubmit()"></i>
                </div>
            </section>
        </div>
        <div class="col-12" style="margin-top: 100vh;">
            <section class="contents-section">
                <div class="row contents-wrapper">
                    <div class="col-12 col-md-8 col-lg-8">
                        <div class="search-results mb-5">
                            <p class="main-title" id="searchTitleId">SEARCH RESULTS</p>
                            <hr>
                            
                            <ng-container *ngIf="searchResponse?.Hotel_Details?.length; else noPackageTemplate">
                                <div *ngFor="let property of searchResponse?.Hotel_Details; let i = index">
                                    <app-package [property]="property" [searchId]="searchId" [id_num]="i" [pax]="searchForm.controls.paxData.value"
                                        [buttonActionType]="'searchComponent-newBooking'"></app-package>
                                </div>
                            </ng-container>
                            <ng-template #noPackageTemplate>
                                <div class="no-packages">
                                    Sorry, we are unable to match your search criteria. <br>Please choose alternate dates or you may reach out to us via email at contact@cghearth.com or call us at +91 7558999998
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                       <p class="main-title">My Cart</p>
                        <app-cart-box [type]="'searchComponent-newBooking'"></app-cart-box><br>
                        <app-deals-bar></app-deals-bar>

                    </div>

                </div>
                <hr class="contents-section-seperator">
            </section>
        </div>
    </div>



</div>

<ng-template #matCalendar>
    <p class="calendar-heading">Select
        {{!isCurrentCalendarInputCheckout ? 'Check-in' : 'Check-out'}}
        Date
    </p>
    <div class="calendar-block">
        <div class="">
            <div class="calendar-header-row">
                <i class="bi bi-chevron-left" (click)="onChangeMonth('prev')"></i>
                <p>{{calendarOneHeading}}</p>
                <i class="bi bi-chevron-right optional-chevron" (click)="onChangeMonth('next')"></i>

            </div>
            <mat-calendar class="mat-calendar-class" [selected]="selectedRangeValue"
                (selectedChange)="selectedChange($event)" [minDate]="minDate">
            </mat-calendar>
        </div>
        <div>
            <div class="calendar-header-row">
                <i class="bi bi-chevron-left optional-chevron" (click)="onChangeMonth('prev')"></i>
                <p>{{calendarTwoHeading}}</p>
                <i class="bi bi-chevron-right" (click)="onChangeMonth('next')"></i>
            </div>
            <mat-calendar class="mat-calendar-class second-calendar" [selected]="selectedRangeValue"
                (selectedChange)="selectedChange($event)" [startAt]="secondCalStartDate" [minDate]="minDate">
            </mat-calendar>
        </div>
    </div>
    <div class="calendar-controls-block">
        <p class="control" [ngClass]="{'active': dateRangeSelectionType === 'exact'}"
            (click)="setDateRangeSelectionType('exact')">Exact Dates</p>
        <p class="control" [ngClass]="{'active': dateRangeSelectionType === '+1'}"
            (click)="setDateRangeSelectionType('+1')">+1 Day</p>
        <p class="control" [ngClass]="{'active': dateRangeSelectionType === '+2'}"
            (click)="setDateRangeSelectionType('+2')">+2 Days</p>
        <p class="control" [ngClass]="{'active': dateRangeSelectionType === '+3'}"
            (click)="setDateRangeSelectionType('+3')">+3 Days</p>
        <p class="control" [ngClass]="{'active': dateRangeSelectionType === '+7'}"
            (click)="setDateRangeSelectionType('+7')">+7 Days</p>
    </div>
</ng-template>