/* App Component Styles */

/* Body padding for fixed header */
:host {
  display: block;
  padding-top: 80px; /* Height of header */
  width: 100%;
  max-width: 100vw;
}

/* All Tablets and Foldables */
@media (min-width: 769px) and (max-width: 1366px) {
  :host {
    padding-top: 70px;
    width: 100%;
  }
}

/* Mobile Responsive */
@media (max-width: 992px) {
  :host {
    padding-top: 70px;
  }
}

@media (max-width: 576px) {
  :host {
    padding-top: 60px;
  }
}

@media (max-width: 380px) {
  :host {
    padding-top: 56px;
  }
}