<div class="wrapper">
    <div class="property-row" [ngStyle]="expandTabBlock ? { background: 'white' } : {}">
        <div class="property-image-col" >
            <!-- <img src="{{property.images[1]}}" alt=""> -->

            <div id="carouselExampleControls" class="carousel slide" [id]="'slider_hotel'+ id_num" data-ride="carousel"
            style="width: 200px;">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let item of property.images;let i=index"
                    [ngClass]="i == 1 ? 'active' : ''" [id]="'slide'+ i">
                    <img class="d-block w-100" [src]="item" style="position: relative;">
                    <i class="bi bi-arrows-angle-expand" (click)="expandImg(item)" ></i>
                </div>
            </div>
            <a class="carousel-control-prev" [href]="'#slider_hotel'+ id_num" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" [href]="'#slider_hotel'+ id_num" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        </div>
        <!-- <img src="{{property.images[0]}}"  alt=""> -->


        <div class="property-text-col">
            <p class="package-title">{{ property.hotel_name }}</p>

            <p class="higlight-point" style="margin-bottom: 5px" *ngIf="3 > 0">
                <ng-container *ngFor="let star of [].constructor(property.star_rating)">
                    <i class="bi bi-star-fill" *ngIf="star <= 5"
                        [ngStyle]="star === 5 ? { 'margin-right': '5px' } : {}"></i>
                </ng-container>
                <span>Resort</span>
            </p>

            <p class="higlight-point" style="margin-top: 2px; margin-bottom: 18px">
                <i class="bi bi-geo-alt-fill me-1"></i>
                <span class="me-1" *ngIf="property.address?.city">{{
                    property.address.city + ", "
                    }}</span>
                <span class="me-1" *ngIf="property.address?.state">{{
                    property.address.state + ", "
                    }}</span>
                <span class="me-1" *ngIf="property.address?.country">{{
                    property.address.country
                    }}</span>
            </p>

            <div class="higlight-points-row" style="margin-left: -2.5px">
                <button class="highlight-btn" (click)="onExpandTab('overview')">
                    <span class="text-col-span">
                        <span class="highlight-btn-type">Overview</span>
                        <span>
                            <span class="view-more-span">Click to view details</span>
                        </span>
                    </span>
                    <span><i class="bi bi-chevron-down"></i></span>
                </button>

                <button class="highlight-btn" (click)="onExpandTab('deals')" *ngIf="highlightedDeal">
                    <span class="text-col-span">
                        <span class="highlight-btn-type">Deals</span>
                        <span style="display: flex; align-items: baseline;">
                            <span class="highlight-btn-text deal-text-truncate">{{highlightedDeal?.title}}</span>
                            <span class="view-more-span">View more</span>
                        </span>
                    </span>
                    <span><i class="bi bi-chevron-down"></i></span>
                </button>

                <button class="highlight-btn" (click)="onExpandTab('rooms')">
                    <span class="text-col-span">
                        <span class="highlight-btn-type">Our lowest price</span>
                        <span>
                            <span class="highlight-btn-text">{{property.currency}} {{lowestRoomPrice}}</span>
                            <span class="view-more-span">View more</span>
                        </span>
                    </span>
                    <span><i class="bi bi-chevron-down"></i></span>
                </button>
            </div>
        </div>
    </div>

    <div class="tabs-block" *ngIf="expandTabBlock">
        <ng-container *ngIf="selectedTab === 'overview'">
            <ng-container *ngTemplateOutlet="
                overviewTab;
                context: { property: property }
                ">
            </ng-container>
        </ng-container>

        <ng-container *ngIf="selectedTab === 'rooms'">
            <ng-container *ngTemplateOutlet="
                roomsTab;
                context: { property: property }
                ">
            </ng-container>
        </ng-container>

        <ng-container *ngIf="selectedTab === 'deals'">
            <ng-container *ngTemplateOutlet="
                dealsTab;
                context: { property: property }
                ">
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #overviewTab let-property="property">
    <div class="mb-3" *ngIf="property?.description">
        <p class="overview-title">Overview</p>
        <p class="description">{{property.description}}</p>
    </div>
    <div class="mb-3" *ngIf="property?.address">
        <p class="overview-title">Address</p>
        <p class="description">
            <span class="me-1" *ngIf="property.address?.address_Line">{{
                property.address.address_Line + ", "
                }}</span>
            <span class="me-1" *ngIf="property.address?.city">{{
                property.address.city + ", "
                }}</span>
            <span class="me-1" *ngIf="property.address?.state">{{
                property.address.state + ", "
                }}</span>
            <span class="me-1" *ngIf="property.address?.country">{{
                property.address.country
                }}</span>
        </p>
    </div>
    <div class="mb-3" *ngIf="property?.coordinates">
        <p class="overview-title">Latitude : <span class="description">{{property.coordinates.latitude}}</span> </p>
        </div>
        <div class="mb-3" *ngIf="property?.coordinates">
            <p class="overview-title"> Longitude :  <span class="description">{{property.coordinates.longitude}}</span></p>
            </div>
    <div class="mb-3" *ngIf="property?.goodToKnow?.length > 0">
        <p class="overview-title">Good to know</p>
        <p class="description">{{property.description}}</p>
    </div>
    <div>
        <p class="overview-title">Checkin & checkout</p>
        <div class="higlight-points-row">
            <p class="higlight-point style-x"><i class="bi bi-door-open"></i>Check-in: {{property.check_in}}</p>
            <p class="higlight-point style-x"><i class="bi bi-door-closed"></i>Check-out: {{property.check_out}}</p>
        </div>
    </div>
</ng-template>

<ng-template #roomsTab let-property="property">
    <p class="room-list-heading">Rooms Starting from</p>
    <ng-container *ngFor="let room of property.rooms;let i=index">
        <app-room [room]="room" [id]="i" [property]="property" (btnEvent)="roomBtnEvent(property, room)"
        [checkIn]="checkIn" [checkOut]="checkOut" [paxInfo]="paxInfo" [productId]="productId">
        </app-room>
    </ng-container>
</ng-template>

<ng-template #dealsTab>
    <div class="deals-wrapper">
        <ng-container *ngFor="let item of property.rooms">
            <div class="deal-card" *ngIf="item.deal">
                <div class="deal-room-section">
                    <p class="deal-title mb-0">{{item.roomName}}</p>
                    <p class="deal-title mb-0">Rate Plan: {{item.ratePlanName}}</p>

                </div>
                <div class="deal-top-section">
                    <p class="deal-title">Deal Name: {{item.deal.title}}</p>
                    <p class="deal-desc">Description: {{item.deal.description}}</p>

                </div>
                <div class="deal-bottom-section">
                    <p class="deal-value">Value:
                        <span style="font-weight: 400;">{{item.deal.value}} {{item.deal.type}}</span>
                    </p>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>
