<div class="wrapper">
    <div class="property-row row" [ngStyle]="expandTabBlock ? { background: 'white' } : {}">
        <div class="property-image-col  col-12 col-md-4 col-lg-4" >
            <!-- <img src="{{property.images[1]}}" alt=""> -->

            <div id="carouselExampleControls" class="carousel slide" [id]="'slider_hotel'+ id_num" data-ride="carousel"
            style="width: 200px;">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let item of filteredImages; let i=index"
                    [ngClass]="i == 0 ? 'active' : ''" [id]="'slide'+ i">
                    <img class="d-block w-100" [src]="item" style="position: relative; cursor: pointer;" 
                         onerror="this.src='assets/images/no-image-found.png'"
                         (click)="expandImg(item, filteredImages, i)">
                    <i class="bi bi-arrows-angle-expand" (click)="expandImg(item, filteredImages, i)" ></i>
                </div>
            </div>
            <a class="carousel-control-prev" [href]="'#slider_hotel'+ id_num" role="button" data-slide="prev" *ngIf="filteredImages.length > 1">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" [href]="'#slider_hotel'+ id_num" role="button" data-slide="next" *ngIf="filteredImages.length > 1">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        </div>
        <!-- <img src="{{property.images[0]}}"  alt=""> -->


        <div class="property-text-col  col-12 col-md-8 col-lg-8">
            <p class="package-title">{{ property.hotel_name}}</p>

            <p class="higlight-point" style="margin-bottom: 5px" *ngIf="3 > 0">
                <ng-container *ngFor="let star of starrate">
                    <i class="bi bi-star-fill" *ngIf="star <= 5"
                        [ngStyle]="star === 5 ? { 'margin-right': '5px' } : {}"></i>
                </ng-container>
                <span>{{property.property_type}}</span><br>
                <!-- <span class="view-more-span"(click)="onExpandTab('amenities')">Click to view Hotel Amenities</span> -->
            </p>

            <p class="higlight-point" style="margin-top: 2px; margin-bottom: 18px">
                <i class="bi bi-geo-alt-fill me-1"></i>
                <span class="me-1" *ngIf="property.address?.city">{{
                    property.address.city + ", "
                    }}</span>
                <span class="me-1" *ngIf="property.address?.state">{{
                    property.address.state + ", "
                    }}</span>
                <span class="me-1" *ngIf="property.address?.country">{{
                    property.address.country
                    }}</span>
            </p>

            <div class="higlight-points-row" style="margin-left: -2.5px">
                <button class="highlight-btn" (click)="onExpandTab('overview')">
                    <span class="text-col-span">
                        <span class="highlight-btn-type">{{ 'overview' | translate }}</span>
                        <span>
                            <span class="view-more-span">{{ 'click_to_view' | translate }}</span>
                        </span>
                    </span>
                    <span><i class="bi bi-chevron-down"></i></span>
                </button>

                <button class="highlight-btn" (click)="onExpandTab('deals')" *ngIf="highlightedDeal">
                    <span class="text-col-span">
                        <span class="highlight-btn-type">{{ 'deals' | translate }}</span>
                        <span style="display: flex; align-items: baseline;">
                            <span class="highlight-btn-text deal-text-truncate">{{highlightedDeal?.title}}</span>
                            <span class="view-more-span">{{ 'view_more' | translate }}</span>
                        </span>
                    </span>
                    <span><i class="bi bi-chevron-down"></i></span>
                </button>

                <button class="highlight-btn" (click)="onExpandTab('rooms')">
                    <span class="text-col-span">
                        <span class="highlight-btn-type">{{ 'our_lowest_price' | translate }}</span>
                        <span>
                            <span class="highlight-btn-text">{{property.currency}} {{lowestRoomPrice}}</span>
                            <span class="view-more-span">{{ 'view_more' | translate }}</span>
                        </span>
                    </span>
                    <span><i class="bi bi-chevron-down"></i></span>
                </button>
            </div><br>
          
        </div>
    </div>

    <div class="tabs-block" *ngIf="expandTabBlock">
        <ng-container *ngIf="selectedTab === 'overview'">
            <ng-container *ngTemplateOutlet="
                overviewTab;
                context: { property: property }
                ">
            </ng-container>
        </ng-container>
        <ng-container *ngIf="selectedTab === 'amenities'">
            <ng-container *ngTemplateOutlet="
            amenitesTab;
                context: { property: property }
                ">
            </ng-container>
        </ng-container>

        <ng-container *ngIf="selectedTab === 'rooms'">
            <ng-container *ngTemplateOutlet="
                roomsTab;
                context: { property: property }
                ">
            </ng-container>
        </ng-container>

        <ng-container *ngIf="selectedTab === 'deals'">
            <ng-container *ngTemplateOutlet="
                dealsTab;
                context: { property: property }
                ">
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #overviewTab let-property="property">
    <div class="mb-3" *ngIf="property?.description">
        <p class="overview-title">{{ 'overview' | translate }}</p>
        <p class="description" [class.description-truncated]="!showFullOverview && isOverviewLong(property.description)">
            {{ showFullOverview || !isOverviewLong(property.description) ? property.description : getTruncatedOverview(property.description) }}
        </p>
        <span class="view-more-link" *ngIf="isOverviewLong(property.description)" (click)="toggleOverview()">
            {{ showFullOverview ? ('view_less' | translate) : ('view_more' | translate) }}
        </span>
    </div>
    <div class="mb-3" *ngIf="property?.address">
        <p class="overview-title">{{ 'address' | translate }}</p>
        <p class="description">
            <span class="me-1" *ngIf="property.address?.address_Line">{{
                property.address.address_Line + ", "
                }}</span>
            <span class="me-1" *ngIf="property.address?.city">{{
                property.address.city + ", "
                }}</span>
            <span class="me-1" *ngIf="property.address?.state">{{
                property.address.state + ", "
                }}</span>
            <span class="me-1" *ngIf="property.address?.country">{{
                property.address.country
                }}</span>
        </p>
    </div>
    <!-- <div class="mb-3" *ngIf="property?.coordinates">
        <p class="overview-title">Latitude : <span class="description">{{property.coordinates.latitude}}</span> </p>
        </div>
        <div class="mb-3" *ngIf="property?.coordinates">
            <p class="overview-title"> Longitude :  <span class="description">{{property.coordinates.longitude}}</span></p>
            </div> -->
    <div class="mb-3" *ngIf="property?.goodToKnow?.length > 0">
        <p class="overview-title">{{ 'good_to_know' | translate }}</p>
        <p class="description">{{property.description}}</p>
    </div>
    <div>
        <p class="overview-title">{{ 'checkin_checkout' | translate }}</p>
        <div class="higlight-points-row">
            <p class="higlight-point style-x"><i class="bi bi-door-open"></i>{{ 'check_in' | translate }}: {{property.check_in}}</p>
            <p class="higlight-point style-x"><i class="bi bi-door-closed"></i>{{ 'check_out' | translate }}: {{property.check_out}}</p>
        </div>
    </div>
</ng-template>

<ng-template #roomsTab let-property="property">
    <p class="room-list-heading">{{ 'room_details' | translate }}</p>
    <ng-container *ngFor="let group of groupedRooms; let i=index">
        <div class="grouped-room-card">
            <!-- Room Header with Image and Details -->
            <div class="room-header-section">
                <div class="room-image-col">
                    <div class="carousel slide" [id]="'slider_group'+ i" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let img of group.lowestPriceRoom.images; let j=index"
                                [ngClass]="j == 0 ? 'active' : ''">
                                <img class="d-block w-100" [src]="img" style="cursor: pointer;"
                                     onerror="this.src='assets/images/no-image-found.png'"
                                     (click)="expandImg(img, group.lowestPriceRoom.images, j)">
                                <i class="bi bi-arrows-angle-expand" (click)="expandImg(img, group.lowestPriceRoom.images, j)"></i>
                            </div>
                        </div>
                        <a class="carousel-control-prev" [href]="'#slider_group'+ i" role="button" data-slide="prev" 
                           *ngIf="group.lowestPriceRoom.images?.length > 1">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next" [href]="'#slider_group'+ i" role="button" data-slide="next"
                           *ngIf="group.lowestPriceRoom.images?.length > 1">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="room-info-col">
                    <h3 class="room-name">{{group.roomName}}</h3>
                    <p class="room-description" *ngIf="group.lowestPriceRoom.description">
                        {{group.lowestPriceRoom.description}}
                    </p>
                    
                    <div class="room-details-grid">
                        <!-- Amenities -->
                        <div class="detail-item" *ngIf="group.lowestPriceRoom.amenities?.length > 0">
                            <p class="detail-label">{{ 'amenities' | translate | uppercase }}:</p>
                            <ul class="amenities-list">
                                <li *ngFor="let amenity of group.lowestPriceRoom.amenities">{{amenity}}</li>
                            </ul>
                        </div>
                        
                        <!-- Inclusions -->
                        <!-- <div class="detail-item" *ngIf="group.lowestPriceRoom.inclusions?.length > 0">
                            <p class="detail-label">Inclusions:</p>
                            <p class="detail-value">{{group.lowestPriceRoom.inclusions[0]}}</p>
                        </div> -->
                    </div>
                    
                    <!-- Room Info Badges -->
                    <div class="room-badges">
                        <span class="room-badge" *ngIf="group.lowestPriceRoom.maxAdult">
                            <i class="bi bi-person"></i> {{ 'max_person' | translate }}: {{group.lowestPriceRoom.maxAdult}}
                        </span>
                        <span class="room-badge" *ngIf="group.lowestPriceRoom.maxChild !== undefined">
                            <i class="bi bi-person"></i> {{ 'max_children' | translate }}: {{group.lowestPriceRoom.maxChild}}
                        </span>
                        <span class="room-badge" *ngIf="group.lowestPriceRoom.maxOccupancy">
                            <i class="bi bi-person"></i> {{ 'base_occupancy' | translate }}: {{group.lowestPriceRoom.maxOccupancy}}
                        </span>
                    </div>
                </div>
            </div>

            <!-- Rate Plans List -->
            <div class="rate-plans-section">
                <!-- First/Lowest Rate Plan -->
                <div class="rate-plan-row">
                    <div class="rate-plan-info">
                        <p class="rate-plan-title">{{group.lowestPriceRoom.ratePlanName}}</p>
                        <p class="rate-plan-desc" *ngIf="group.lowestPriceRoom.ratePlanDescription">
                            {{group.lowestPriceRoom.ratePlanDescription}}
                        </p>
                        <!-- Meal Plan Badge -->
                        <span class="meal-plan-badge" *ngIf="group.lowestPriceRoom.mealPlan">
                            <i class="bi bi-egg-fried"></i> {{ 'meal_plan' | translate }}: {{group.lowestPriceRoom.mealPlan}}
                        </span>
                        <!-- Deal Applied Badge -->
                        <span class="deal-applied-badge" *ngIf="group.lowestPriceRoom.deal?.title">
                            <i class="bi bi-tag-fill"></i>Deal Name: {{group.lowestPriceRoom.deal.title}}
                        </span>
                        <!-- Inclusions as bullet points -->
                        <div class="inclusions-wrapper" *ngIf="group.lowestPriceRoom.inclusions?.length > 0">
                            <span class="inclusions-label">{{ 'inclusions' | translate }}:</span>
                            <ul class="inclusions-list">
                                <ng-container *ngFor="let inclusion of group.lowestPriceRoom.inclusions">
                                    <li *ngFor="let item of inclusion.split(',')">{{item.trim()}}</li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                    <div class="rate-plan-price">
                        <!-- Strikeout Original Price (if discount exists) -->
                        <p class="price-original" *ngIf="group.lowestPriceRoom.price.discounted">
                            {{property.currency}} {{(group.lowestPriceRoom.price.actual + group.lowestPriceRoom.price.discounted) | number:'1.0-0'}}
                        </p>
                        <p class="price-amount">{{property.currency}} {{group.lowestPriceRoom.price.actual | number:'1.0-0'}}</p>
                        <p class="price-unit">{{ 'per_night' | translate }}</p>
                        <p class="price-note">{{ 'taxes_fees' | translate }}</p>
                        <button class="add-to-cart-btn" 
                                [class.cart-full]="isCartFull()"
                                [disabled]="isCartFull()"
                                (click)="roomBtnEvent(property, group.lowestPriceRoom)">
                            {{isCartFull() ? ('cart_full' | translate | uppercase) : ('add_to_cart' | translate)}}
                        </button>
                    </div>
                </div>

                <!-- Other Rate Plans -->
                <ng-container>
                    <div class="rate-plan-row" *ngFor="let ratePlan of group.otherRatePlans">
                        <div class="rate-plan-info">
                            <p class="rate-plan-title">{{ratePlan.ratePlanName}}</p>
                            <p class="rate-plan-desc" *ngIf="ratePlan.ratePlanDescription">
                                {{ratePlan.ratePlanDescription}}
                            </p>
                            <!-- Meal Plan Badge -->
                            <span class="meal-plan-badge" *ngIf="ratePlan.mealPlan">
                                <i class="bi bi-egg-fried"></i> {{ 'meal_plan' | translate }}: {{ratePlan.mealPlan}}
                            </span>
                            <!-- Deal Applied Badge -->
                            <span class="deal-applied-badge" *ngIf="ratePlan.deal?.title">
                                <i class="bi bi-tag-fill"></i> Deal Name:{{ratePlan.deal.title}}
                            </span>
                            <!-- Inclusions as bullet points -->
                            <div class="inclusions-wrapper" *ngIf="ratePlan.inclusions?.length > 0">
                                <span class="inclusions-label">{{ 'inclusions' | translate }}:</span>
                                <ul class="inclusions-list">
                                    <ng-container *ngFor="let inclusion of ratePlan.inclusions">
                                        <li *ngFor="let item of inclusion.split(',')">{{item.trim()}}</li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                        <div class="rate-plan-price">
                            <!-- Strikeout Original Price (if discount exists) -->
                            <p class="price-original" *ngIf="ratePlan.price.discounted">
                                {{property.currency}} {{(ratePlan.price.actual + ratePlan.price.discounted) | number:'1.0-0'}}
                            </p>
                            <p class="price-amount">{{property.currency}} {{ratePlan.price.actual | number:'1.0-0'}}</p>
                            <p class="price-unit">{{ 'per_night' | translate }}</p>
                            <p class="price-note">{{ 'taxes_fees' | translate }}</p>
                            <button class="add-to-cart-btn" 
                                    [class.cart-full]="isCartFull()"
                                    [disabled]="isCartFull()"
                                    (click)="roomBtnEvent(property, ratePlan)">
                                {{isCartFull() ? ('cart_full' | translate | uppercase) : ('add_to_cart' | translate)}}
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>

        </div>
    </ng-container>
</ng-template>
<ng-template #amenitesTab let-property="property" style="height: 180% !important;">
   
    <ng-container >
        <p class="room-list-heading">{{ 'amenities' | translate }}</p>
        <ul>
            <li style="width: 50%;" *ngFor="let amenitie of property.amenities;let i=index">{{amenitie}}</li>
        </ul>
        <p class="room-list-heading">{{ 'key_amenities' | translate }}</p>
        <ul style="list-style: none;"><li *ngFor="let key of property?.keyAmenities | keyvalue"><img [src]="'https://app.axisrooms.com/'+key.value">{{key.key}}</li></ul>
    </ng-container>
</ng-template>

<ng-template #dealsTab>
    <div class="deals-wrapper">
        <ng-container *ngFor="let item of property.rooms">
            <div class="deal-card" *ngIf="item.deal">
                <div class="deal-room-section">
                    <p class="deal-title mb-0">{{item.roomName}}</p>
                    <p class="deal-title mb-0">{{ 'rate_plan' | translate }}: {{item.ratePlanName}}</p>

                </div>
                <div class="deal-top-section">
                    <p class="deal-title">{{ 'deal_name' | translate }}: {{item.deal.title}}</p>
                    <p class="deal-desc">{{ 'description' | translate }}: {{item.deal.description}}</p>

                </div>
                <div class="deal-bottom-section">
                    <p class="deal-value">{{ 'value' | translate }}:
                        <span style="font-weight: 400;">{{item.deal.value}} {{item.deal.type}}</span>
                    </p>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>
