.banner-section {
  background-image: url(https://www.cghearth.com/uploads/banner/20170519203337PMbanneraerial1.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents-section-seperator {
  max-width: 1000px;
  margin: 50px auto 0 auto;
}

.contents-section {
  padding: 50px 15px 50px 15px;
}

.contents-section .contents-wrapper {
  display: flex;
  max-width: 1150px;
  margin: auto;
}

.contents-section .content-col {
  flex: 1;
  padding: 0 25px;
}

.contents-section .cart-col {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  flex: 1;
}

.title {
  font-family: "Adobe Caslon Pro";
  font-weight: bold;
  letter-spacing: 0.06em;
  text-align: left;
  color: #000;
  margin-bottom: 8px;
  font-size: 16px;
  padding-left: 5px;
}

.btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pg-alert-wrapper {
  padding: 50px 15px 50px 15px;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pg-alert-wrapper .alert {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  margin-top: 20px;
  flex-direction: column;
  background: none;
  border: 1px dashed;
}

.btn-main {
  max-width: 270px !important;
  word-spacing: 1px !important;
}




@media screen and (max-width: 480px) {
  .stepper {
    display: none;
  }

  .cart-col {
    margin-top: 15px;
  }


  .btn-main{
    margin: 0 2px;
  }

  
}