<section class="banner-section"></section>

<ng-container *ngIf="{bookingCart: bookingCart$ | async, 
    currBookingItem: currBookingItem$ | async} as streams">

    <ng-container *ngIf="streams.bookingCart?.loadingPaymentGateway && load ; else elseBookingTemplate">
        <div class="pg-alert-wrapper">
            <div class="alert alert-secondary" role="alert">
                Loading Payment Gateway
                <div class="spinner-border m-3 mb-0" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #elseBookingTemplate>

        <!-- <ng-container *ngIf="streams.currBookingItem"> -->
        <app-stepper [stepper]="stepper" class="stepper"></app-stepper>

        <section class="contents-section ">
            <div class="contents-wrapper row" [ngStyle]="stepper === eStepper.confirmation ? 
                    {'max-width': '1050px'} : {'max-width': '1150px'}">
                <div class="content-col col-12 col-md-8 col-lg-8">
                    <div style="min-height: 480px;">
                        <app-addons *ngIf="stepper === eStepper.addons">
                        </app-addons>
                        <app-personal-details [payathotel]="payflag" [bookingItem]="streams.currBookingItem" *ngIf="stepper === eStepper.personalDetails">
                        </app-personal-details>
                        <app-confirmation *ngIf="stepper === eStepper.confirmation" [cart]="streams.currBookingItem"
                            [personalDetails]="personalDetailsForm.value"></app-confirmation>


                    </div>

                    <!-- <div class="btn-row" style="display: inline;text-align: center;"
                        *ngIf="stepper === eStepper.personalDetails">
                        <div>

                            <span style="
                    margin-left: -35px;
                "><input type="checkbox" (change)="checkhValue()" /> <span
                                    style="font-weight:300;font-size: 17px;">&nbsp; I have read and understood the agree
                                    to the hotel’s  <a href="https://www.cghearth.com" target="_blank" style="font-weight:bold;text-decoration: underline;
    ">Privacy Policy</a>


                                </span>&nbsp;&nbsp; </span> <br>
                            <span style="
                        margin-left: -37px;
                    "><input type="checkbox" (change)="checkcValue()" /> <span
                                    style="font-weight:300;font-size: 17px;">&nbsp; i agree to the hotel’s <span
                                        (click)="cancellationpolicy()" style="font-weight:bold;text-decoration: underline;
">Cancellation policy </span> and <a href="https://www.cghearth.com/terms" target="_blank" style="font-weight:bold;text-decoration: underline;
">other Terms & Conditions</a>

                                </span></span>&nbsp;&nbsp; <br> <br>
                            <div class="tabs-block" *ngIf="expandTabBlock">



                                <ul>
                                    <li style="text-align: start;"
                                        *ngFor="let policy of policyresp['cancellationPolicy']">{{policy}}</li><br>
                                </ul>



                            </div>
                            <br><br>
                            <div class="tabs-block" *ngIf="expandTabBlock1">



                                <ul>
                                    <li style="text-align: start;" *ngFor="let policy of policyresp['hotelPolicy']">
                                        {{policy}}</li><br>
                                </ul>


                            </div>
                        </div>




                    </div><br> -->
                    <div class="payment-options" *ngIf="stepper == eStepper.personalDetails">
                        <p class="payment-title">Payment Method</p>
                        <div class="payment-radio-group">
                            <label class="payment-option">
                                <input type="radio" [checked]="!payathotel" name="pay" (click)="setPayNow();">
                                <span class="radio-custom"></span>
                                <span class="radio-label">Pay Now</span>
                            </label>
                            <label class="payment-option" *ngIf="isPayAtHotelAvailable">
                                <input type="radio" [checked]="payathotel" name="pay" (click)="setPayAtHotel();">
                                <span class="radio-custom"></span>
                                <span class="radio-label">Pay At Hotel</span>
                            </label>
                        </div>
                    </div>
                    
                    <!-- Card Details Section - Show only when pay at hotel is enabled AND available -->
                    <!-- <div class="card-details-section" *ngIf="stepper == eStepper.personalDetails && payathotel === true && isPayAtHotelAvailable">
                        <div class="card-details-header">
                            <i class="bi bi-credit-card"></i>
                            <span>Card Details</span>
                        </div>
                        <div class="card-input-group" data-form-type="other">
                            <div class="card-input-row">
                                <div class="card-input-wrapper full-width">
                                    <i class="bi bi-credit-card-2-front input-icon"></i>
                                    <input type="text" 
                                        name="guest_info_field_1" 
                                        id="guest_info_field_1"
                                        placeholder="Enter card number" 
                                        [(ngModel)]="cardDetails.cardno" 
                                        (input)="formatCardNumber($event)"
                                        maxlength="19"
                                        autocomplete="off"
                                        autocorrect="off"
                                        autocapitalize="off"
                                        spellcheck="false"
                                        data-form-type="other"
                                        class="card-input">
                                </div>
                            </div>
                            <div class="card-input-row">
                                <div class="card-input-wrapper">
                                    <i class="bi bi-calendar3 input-icon"></i>
                                    <input type="text" 
                                        name="guest_info_field_2" 
                                        id="guest_info_field_2"
                                        placeholder="MM/YY" 
                                        [(ngModel)]="cardDetails.epdate" 
                                        (input)="formatExpiryDate($event)"
                                        maxlength="5"
                                        autocomplete="off"
                                        autocorrect="off"
                                        autocapitalize="off"
                                        spellcheck="false"
                                        data-form-type="other"
                                        class="card-input">
                                </div>
                                <div class="card-input-wrapper">
                                    <i class="bi bi-lock input-icon"></i>
                                    <input type="text" 
                                        name="guest_info_field_3" 
                                        id="guest_info_field_3"
                                        placeholder="CVV" 
                                        [(ngModel)]="cardDetails.cvv" 
                                        maxlength="4"
                                        autocomplete="off"
                                        autocorrect="off"
                                        autocapitalize="off"
                                        spellcheck="false"
                                        data-form-type="other"
                                        class="card-input">
                                </div>
                            </div>
                        </div>
                        <p class="card-secure-note">
                            <i class="bi bi-shield-check"></i>
                            Your payment information is secure and encrypted
                        </p>
                    </div> -->

                    <!-- Policy Checkboxes Section -->
                    <div class="policy-section" *ngIf="stepper == eStepper.personalDetails">
                        
                        <!-- Combined Policy Checkbox -->
                        <label class="policy-checkbox">
                            <input type="checkbox" name="acceptAllPolicies" 
                                [(ngModel)]="acceptAllPolicies">
                            <span class="checkbox-custom"></span>
                            <span class="policy-text">
                                I have read the 
                                <a (click)="viewCancellationPolicy(); $event.preventDefault()" class="policy-link">
                                    Cancellation Policy</a>, 
                                <a (click)="viewHotelPolicy(); $event.preventDefault()" class="policy-link">
                                    Hotel Policy</a> and accept the 
                                <a (click)="openTermsDialog(); $event.preventDefault()" class="policy-link">
                                    Terms and Conditions
                                </a>
                            </span>
                        </label>
                    </div>
                    
                    <div class="btn-row">
                        <button class="btn-main" (click)="goBack()">
                            {{ stepper != eStepper.confirmation ? 'BACK' : 'Download PDF'}}
                        </button>


                        <ng-container *ngIf="stepper != eStepper.addons">
                            <button class="btn-main" (click)="onNext()" *ngIf="stepper == eStepper.confirmation">
                                CONTINUE
                            </button>
                        </ng-container>
                        <button *ngIf="stepper == eStepper.addons" class="btn-main" (click)="onNext()">
                            PROCEED
                        </button>
                        <button *ngIf="stepper == eStepper.personalDetails" class="btn-main" (click)="onNext()">
                            CONTINUE And confirm
                        </button>


                    </div>
                </div>

                <div class="cart-col col-12 col-md-4 col-lg-4" *ngIf="stepper != eStepper.confirmation">



                    <p class="title">BOOKING DETAILS</p>
                    <app-cart-box></app-cart-box>
                </div>
            </div>
        </section>
        <!-- </ng-container> -->

        <!-- <app-no-booking *ngIf="!streams.currBookingItem && 
            !(streams.bookingCart?.bookingItems?.length ?? 0 > 0)">
        </app-no-booking>

        <app-ongoing-bookings *ngIf="!streams.currBookingItem && 
            (streams.bookingCart?.bookingItems?.length ?? 0 > 0)">
        </app-ongoing-bookings> -->
    </ng-template>

    <hr class="contents-section-seperator">
</ng-container>
<!-- <ng-template #template>
    <h1>This is a message</h1>
   </ng-template> -->