.room-details {
  padding: 15px 0 15px 0;
  background-color: white;
  margin-top: 15px;
  display: flex;
  font-weight: 300;
  text-align: left;
  color: #000;
  border: 1px dashed #aaa;
  border-radius: 0px;
}

.room-details .room-desc-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 0 0 15px;
}

.room-details .room-title {
  margin-bottom: 4px;
  font-weight: 500;
}

.room-details ul li {
  margin-bottom: 5px;
}

.room-details .room-col {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  width: fit-content;
  text-align: end;
}

.room-details .room-col .price-before {
  font-size: 14px;
  color: #333;
  text-decoration: line-through;
  margin-bottom: 8px;
  font-weight: 400;
}

.room-details .room-col .price {
  font-size: 20px;
  font-weight: 700;
  line-height: 14px;
  margin-bottom: 6px;
}

.room-details .room-col .per-unit {
  font-size: 12px;
  color: #888;
  margin-bottom: 0px;
}

.room-details .room-col .price-terms {
  margin-bottom: 0;
}

.room-details .room-col .btn-main {
  margin-top: 10px;
}

.room-details .room-col .btn-main:hover {
  background: #eae3d1;
}

.style-x {
  background: #eee;
  margin: 5px;
  padding: 5px 15px;
  font-size: 13px;
  border-radius: 4px;
  color: #424242;
}

.style-x .bi-door-open {
  font-size: 14px;
  margin-right: 0.25rem !important;
}

.room-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: white;
  border-radius: 10px 10px 0 0;
}

.room-header-image-col {
  width: fit-content;
  padding: 0;
}

.room-header-image-col img {
  width: 180px;
  border-radius: 5px;
  height: 100%;
  max-height: 150px;
  object-fit: cover;
  margin-top: -0.5px;
  margin-right: 15px;
}

.room-header-text-col {
  flex: 1;
  padding: 5px 0 5px 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.higlight-points-row {
  display: flex;
  font-weight: 400;
  margin: 0px;
  flex-wrap: wrap;
  margin-left: -5px;
}




.bi-arrows-angle-expand{
  position: absolute;
  font-size: 11px;
  top: 8px;
  left: 174px;
  cursor: pointer;
  z-index: 200;
  background-color: antiquewhite;
  padding: 4px 5px;
  border-radius: 3px;
}


@media (min-width: 200px) and (max-width: 480px){

  .room-header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    border-radius: 10px 10px 0 0; 
       max-width: inherit;

       text-align: center;
       align-items: center;
  }

  .room-details .room-col {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    width: 100%;
    text-align: end;
  }

  .higlight-points-row{
    display: flex;
    font-weight: 400;
    margin: 0px;
    flex-wrap: wrap;
    margin-left: -5px;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.style-x{
  width: 100%;
}



}