<i  mat-dialog-title class="bi bi-x-circle-fill d-flex justify-content-end" style="cursor: pointer;" (click)="onNoClick()"></i>

<div mat-dialog-content>
    <!-- <p>What's your favorite animal?</p> -->

    <img [src]="data" alt="" style=" width: 550px;   max-width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;">
</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->