<section class="stepper-section">
    <div class="stepper-row">
        <div class="stepper-block">
            <div class="stepper-icon">
                <div class="stepper-dot"></div>
            </div>
            <!-- <div class="stepper-text">Personal Details</div> -->
            <div class="stepper-text">{{ 'hotels_resorts' | translate }}</div>

        </div>

        <div class="stepper-block" [ngClass]="{'active': stepper === eStepper.addons}">
            <div class="stepper-icon">
                <div class="stepper-dot"></div>
            </div>
            <div class="stepper-text">{{ 'addons' | translate }}</div>
        </div>
        <div class="stepper-block" [ngClass]="{'active': stepper === eStepper.personalDetails}">
            <div class="stepper-icon">
                <div class="stepper-dot"></div>
            </div>
            <div class="stepper-text">{{ 'personal_details' | translate }}</div>

        </div>

        <div class="stepper-block" [ngClass]="{'active': stepper === eStepper.payment}">
            <div class="stepper-icon">
                <div class="stepper-dot"></div>
            </div>
            <div class="stepper-text">{{ 'pay_now' | translate }}</div>
        </div>

        <div class="stepper-block" [ngClass]="{'active': stepper === eStepper.confirmation}">
            <div class="stepper-icon">
                <div class="stepper-dot"></div>
            </div>
            <div class="stepper-text">{{ 'confirmation' | translate }}</div>
        </div>

        <div class="filler-line"></div>
    </div>
</section>