.form-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Adobe Caslon Pro";
  font-weight: bold;
  letter-spacing: 0.06em;
  text-align: left;
  color: #000;
  margin-bottom: 8px;
  font-size: 16px;
  padding-left: 5px;
}
input[type="time"]:before {
  content: 'Approximate Arrival time:';
  margin-right: .6em;
  color: #9d9d9d;
}

.veg:before {
  content: 'Approximate arrival time:';
  margin-right: .6em;
  color: #9d9d9d;
}
.person-title {
  width: fit-content;
}

.first-name,
.last-name,
.phone,
.email,
.address-input {
  flex: 1;
  margin: 5px;
  height: 40px;
}

input:nth-child(odd) {
  margin-left: 0px;
}

input:nth-child(even) {
  margin-right: 0px;
}

.form-input-error {
  border: 1px solid red;
}


.err-txt{
  color: #c81515;
    padding: 0;
    font-size: 12px;
}

